<%- include('head-body-top') -%>

<p><%= message %></p>

<form action="/carts/new" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="creator">Creator</label>
    <input type="text" id="creator" name="creator">
    <!-- <label for="type">Type</label>
    <select name="type" id="type">
        <option value="bookcart">bookcart</option>
        <option value="gamecart">gamecart</option>
        <option value="videocart">videocart</option>
    </select> -->
    <label for="platform">Type & Platform</label>
    <select name="platform" id="platform" >
        <optgroup label="bookcarts">
            <option value="bookcart:manga">manga</option>
            <option value="bookcart:novel">novel</option>
        </optgroup>
        <optgroup label="gamecarts">
            <option value="gamecart:gba">gba</option>
            <option value="gamecart:gbc">gbc</option>
            <option value="gamecart:pc">pc</option>
            <option value="gamecart:snes">snes</option>
        </optgroup>
        <optgroup label="videocarts">
            <option value="videocart:movie">movie</option>
            <option value="videocart:show">show</option>
        </optgroup>
    </select>
    <input type="submit" value="Add">
</form>

<%- include('footer-body-bottom') -%>