<%- include('head-body-top') -%>

<p><%= message %></p>

<form action="/users/new" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <input type="submit" value="Add">
</form>

<%- include('footer-body-bottom') -%>