<%- include('head-body-top') -%>

<p><%= message %></p>

<form action="/carts/new" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="creator">Creator</label>
    <input type="text" id="creator" name="creator">
    <label for="type">Type</label>
    <select name="type" id="type">
        <option value="bookcart">bookcart</option>
        <option value="gamecart">gamecart</option>
        <option value="videocart">videocart</option>
    </select>
    <label for="platform">Platform</label>
    <select name="platform" id="platform">
        <option value="gba">gba</option>
        <option value="gbc">gbc</option>
        <option value="manga">manga</option>
        <option value="movie">movie</option>
        <option value="novel">novel</option>
        <option value="pc">pc</option>
        <option value="show">show</option>
        <option value="snes">snes</option>
    </select>
    <input type="submit" value="Add">
</form>

<%- include('footer-body-bottom') -%>