<%- include('head-body-top') -%>

<a href="users/new"><button>New</button></a>

<ul>
<% tableData.forEach(data => { %>
    <li>
        <a href="/users/id/<%= data.id %>"><%= data.username %></a>
    </li>
<% }); %>
</ul>

<%- include('footer-body-bottom') -%>