<%- include('head-body-top') -%>

<p><%= message %></p>
<p><%= tableData.map(data => data.username).join(', ') %></p>

<a href="users/new"><button>New</button></a>

<%- include('footer-body-bottom') -%>